{% extends "base.html" %}

{% block app_content %}
    <!--<h1>Hi, {{ current_user.username }}!</h1>-->
    <hr>


    <div class="container">
                {% for poem in poems %}
                    {% include '_poem_prev.html' %}
                {% endfor %}

    </div>

    <ul class="pagination justify-content-center">
        <div class="col">
            <li class="page-item {% if not prev_url %}disabled{% endif %} ">
                <a href="{{ prev_url or '#' }}">
                    View previous poems
                </a>
            </li>
        </div>

            <li class="page-item {% if not next_url %}disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    View more poems
                </a>
            </li>
        </ul>
{% endblock %}