{% extends "base.html" %}

{% block app_content %}
<style>
    a.card,
    a.card:hover {
    color: #212529;
    text-decoration: none;
}
</style>

        <div class="jumbotron jumbotron-fluid">

            <div class="card-columns">
              <a href="{{ url_for('explore', type='popular') }}" class="card text-white text-center bg-primary">
                <div class="card-body">
                  <h5 class="card-title">Sadness</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </a>
              <a href="#" class="card text-white text-center bg-warning">
                <div class="card-body">
                  <h5 class="card-title">Joy</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </a>
              <a href="#" class="card text-white text-center bg-danger">
                <div class="card-body">
                  <h5 class="card-title">Anger</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </a>
              <div class="card text-center">
                  <div class="card-body">

                    <blockquote class="blockquote mb-0">
                      <p>Not all those who wander are lost.</p>

                      <footer class="blockquote-footer">
                        <small>
                          J.R.R. Tolkien <cite title="Source Title">All That is Gold Does Not Glitter</cite>
                        </small>
                      </footer>
                    </blockquote>
                      <button type="button" class="btn">Randomize</button>
                  </div>
              </div>
              <a href="#" class="card text-white text-center bg-dark">
                <div class="card-body">
                  <h5 class="card-title">Fear</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <button type="button" class="btn">Randomize</button>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </a>

             <a href="#" class="card text-white text-center bg-secondary">
                <div class="card-body">
                  <h5 class="card-title">Thoughtful</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </a>
              <a href="#" class="card text-white text-center bg-success">
                <div class="card-body">
                  <h5 class="card-title">Disgust</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </a>
            </div>
        </div>
    <!--</div>-->

    <!--{% for post in posts %}-->
    <!--<div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>-->
    <!--{% endfor %}-->
{% endblock %}